body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#checkoutForm {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
}
#cardFront {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: lightgray;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);   
    width: 400px;
    border-radius: 10px;
}
#cardBack {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: lightgray;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    width: 400px;
    border-radius: 10px;
}

label {
    font-size: 15px;
}
input {
    height: 25px;
    width: 100%;
}

#total {
    margin-left: 30px;
}
#cardIcon {
    text-align: right;
    margin-right: 30px;
    font-size: 25px;
}
#cardFront #numberGroup {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0px 40px;
}
#cardFront #holderGroup {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin: 0px 40px;
}
#cardFront #cardExpiration {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
#cardExpiration input {
    width: 30px
}

#cardBack #blackBar {
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-column: 1 / 3;
    grid-row: 1;
}
#cardBack #cvvGroup {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
#cvvGroup input {
    width: 25px;   
}

#submit {
    grid-column: 3;
    grid-row: 4;
    height: 25px;
    margin-top: 25px;
}