:root {
    --linecolor: #808080;
    --subHeadColor: #035f9c;
}

#content {
    margin: 0 auto;
    max-width: 30%;
    text-align: center;
    border: 1px solid var(--linecolor);
    padding: 60px 100px;
    line-height: 1.5em;
    color: black;
}
#content hr {
    margin-top: 0px;
    color: var(--linecolor);
}
#content h2{
    font-size: 15px;
    margin-bottom: 0px;
    color: var(--subHeadColor);
}

.logo{
    width: 30%;
}

#info {
    text-align: left;
    margin-top: 30px;
}

.italics {
    font-style: italic;
}